                           /*===== ROOT CSS VARIABLES =====*/
                           :root{
                            --color-white: #ffffff; 
                            --color-light: #f0eff5;
                            --color-gray-light: #86848c; 
                            --color-gray-dark: #56555e; 
                            --color-dark: #27282f;
                            --color-primary: rgb(71, 7, 234);
                            --color-success: rgb(34, 202, 75);
                            --color-danger: rgb(255, 67, 54);
                            --color-warning: rgb(234, 181, 7);
                            --color-purple: rgb(160, 99, 245);
                
                            --color-primary-light: rgba(71, 7, 234, 0.2); 
                            --color-success-light: rgba(34, 202, 75, 0.2); 
                            --color-danger-light: rgba(255, 67, 54, 0.2);
                            --color-purple-light: rgba(160, 99, 245, 0.2);
                
                            --card-padding: 1.6rem;
                            --padding-1: 1rem;
                            --padding-2: 8px;
                
                            --card-border-radius: 1.6rem;
                            --border-radius-1: 1rem;
                            --border-radius-2: 6px;
                        }
                
                        * {
                            margin: 0;
                            padding: 0;
                            outline: 0;
                            border: 0;
                            appearance: none;
                            text-decoration: none;
                            list-style: none;
                            box-sizing: border-box;
                        }
                
                        html {
                            font-size: 12px;
                        }
                
                        body {
                            background: var(--color-light);
                            font-family: poppins, sans-serif;
                            min-height: 100vh;
                            color: var(--color-dark);
                        }
                
                        img {
                            width: 100%;
                        }
                        
                                                    /*===== TEXT SIZING =====*/
                        h1 {
                            font-size: 2.2rem;
                        }
                        h2 {
                            font-size: 1.5rem;
                        }
                        h3 {
                            font-size: 1.2rem;
                        }
                        h4 {
                            font-size: 1rem;
                        }
                        h5 {
                            font-size: 0.76rem;
                            font-weight: 500;
                        }
                        h6 {
                            font-size: 0.66rem;
                        }
                        p {
                            font-size: 0.86rem;
                            color: var(--color-gray-dark);
                        }
                        small {
                            font-weight: 300;
                            font-size: 0.77rem;
                        }
                
                                                    /*===== FONT COLOR =====*/
                        .text-muted {
                            color: var(--color-gray-light);
                        }
                        .primary {
                            color: var(--color-gray-light);
                        }
                        .danger {
                            color: var(--color-danger);
                        }
                        .success {
                            color: var(--color-success);
                        }
                        .purple {
                            color: var(--color-primary);
                        }
                
                                                    /*===== BOX BG COLOR =====*/
                        .bg-primary {
                            color: var(--color-primary);
                            box-shadow: 0 0.8rem var(--color-primary-light);
                        }
                        .bg-danger {
                            color: var(--color-danger);
                            box-shadow: 0 0.8rem var(--color-danger-light);
                        }
                        .bg-success {
                            color: var(--color-success);
                            box-shadow: 0 0.8rem var(--color-success-light);
                        }
                        .bg-purple {
                            color: var(--color-primary);
                            box-shadow: 0 0.8rem var(--color-purple-light);
                        }
                        .bg-dark {
                            background: #27282f;
                            box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
                        }
                
                                                /*========== NAV BAR ==========*/
                        nav {
                            width: 100%;
                            background: var(white);
                            padding: 1rem 1rem;
                            margin-top: 1.5rem;
                            margin-bottom: 1.5rem;
                        }
                
                        nav .container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: relative;
                            width: 96%;
                            margin: 0 auto;
                        }
                
                        img.logo {
                            width: 7rem;
                        }
                
                        nav .greetings-title {
                            padding: var(--padding-2) var(--card-padding);
                            width: 36vw;
                            border-radius: var(--border-radius-2);
                            display: flex;
                            align-items: center;
                            color: var(--color-gray-light);
                            position: absolute;
                            left: 15%;
                            margin-right: 2rem;
                            margin-left: 2rem;
                        }
                
                        .greetings-name {
                            font-size: 1.9rem;
                            margin-left: 0.5rem;
                            padding-bottom: 0.4rem;
                            color: var(--color-dark);
                        }
                
                        nav .profile-area {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            gap: 4rem;
                            flex-direction: row-reverse;
                        }
                
                        nav.profile-area .theme-btn span {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 1.3rem;
                        }
                
                        nav .profile-area .theme-btn .active {
                            background: var(--color-dark);
                            border-radius: var(--border-radius-2);
                            color: var(--color-white);
                        }
                
                        nav .profile-area .profile {
                            display: flex;
                            gap: 1rem;
                            align-items: center;
                            flex-direction: row-reverse;
                        }
                
                        nav .profile-area .profile-photo {
                            display: block;
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                
                        nav .profile-area button {
                            display: none;
                        }
                        
                        main {
                            display: grid;
                            grid-template-columns: 6rem 46rem auto;
                            gap: 2rem;
                            width: 100%;
                        }
                        
                        /*========== SIDEBAR ASIDE ==========*/
                        main aside{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            height: 100vh;
                            width: 4rem;
                        }
                        /* cuma di mobile*/
                        main aside button#close-btn {
                            display: none;
                        }
                
                        .sidebar {
                            display: flex;
                            flex-direction: column;
                            gap: 1.2rem;
                            margin-top: 2rem;
                        }
                
                        main aside .sidebar a{
                            display: flex;
                            align-items: center;
                            gap: 1.2rem;
                            height: 4rem;
                            color: var(--color-gray-dark);
                            position: relative;
                        }
                
                        main aside .sidebar a span {
                            font-size: 1.7rem;
                            margin-left: auto;
                            margin-right: auto;
                            transition: all 150ms ease;
                            display: flex;
                            justify-content: center;
                        }
                
                        main aside .sidebar a.active{
                            background: var(--color-gray-light);
                            color: var(--color-white);
                            border-radius: 10px;
                        }
                
                        main aside .sidebar a.active:before {
                            content: "";
                            width: 6px;
                            height: 100%;
                            position: absolute;
                        }
                
                        main aside .sidebar a:hover {
                            color: var(--color-primary);
                            background: var(--color-gray-light);
                            transition: all 250ms ease;
                            border-radius: 10px;
                        }
                
                        main aside .updates a{
                            display: block;
                            width: 100%;
                            background: var(--color-primary);
                            color: var(--color-white);
                            border-radius: var(--border-radius-1);
                            padding: 0.8rem 0;
                            margin-top: 2rem;
                        }
                
                
                                                /*=========== MIDDLE ==========*/
                        main section.middle .todays-target{
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                
                        main section.middle .todays-target input[type="date"] {
                            padding: 0.5rem;
                            border-radius: var(--border-radius-2);
                            background: var(--color-white);
                            color: var(--color-gray-dark);
                        }
                
                                                    /*========== UPDATE FORM ==========*/
                        .update-container {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: none;
                
                            transform: translate(-50%, -50%);
                            background: var(--color-dark);
                            width: 410px;
                            padding: 30px;
                            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
                            z-index: 999;
                        }
                
                        #show:checked ~ .update-container {
                            display: block;
                        }
                
                        input[type="checkbox"] {
                            display: none;
                        }
                        .show-btn {
                            background: var(--color-dark);
                            color: white;
                            padding: 0.3rem 1rem;
                            font-size: 16px;
                            cursor: pointer;
                            font-weight: 500;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                            transition: all 300ms ease;
                        }
                
                        .show-btn:hover {
                            background: var(--color-gray-dark);
                            border-radius: 10%;
                        }
                
                        .update-container .update-close-btn {
                            position: absolute;
                            color: var(--color-white);
                            right: 20px;
                            top: 15px;
                            font-size: 18px;
                            cursor: pointer;
                            transition: all 250ms ease;
                        }
                
                        .update-container .update-close-btn:hover {
                            color: var(--color-white);
                            transform: rotate(180deg);
                        }
                
                        .update-container .text {
                            font-size: 35px;
                            font-weight: 600;
                            text-align: center;
                            color: var(--color-white);
                        }
                
                        .update-container .text-question {
                            color: white;
                        }
                
                        .update-container #cal-add {
                            text-align: center;
                        }
                
                        .update-container .calorie-question {
                            text-align: center;
                        }
                
                        .update-container form {
                            margin-top: -20px;
                        }
                
                        .update-container form .data {
                            height: 45px;
                            width: 100%;
                            margin: 40px 0;
                        }
                
                        .update-container form .data:nth-child(2) {
                            height: 45px;
                            width: 100%;
                            margin-top: 10px;
                        }
                
                
                        form .data label {
                            font-size: 18px;
                        }
                
                        form .data input {
                            height: 100%;
                            width: 100%;
                            padding-left: 10px;
                            font-size: 17px;
                            border: 1px solid white;
                        }
                
                        form .data input:focus {
                            border-color: var(--color-gray-dark);
                            border-bottom-width: 2px;
                        }
                
                        form .cal-question {
                            color: white;
                        }
                
                        form .btn {
                            margin: 30px 0;
                            height: 45px;
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                        }        
                
                        form .btn .inner {
                            height: 100%;
                            width: 300%;
                            position: absolute;
                            left: -100%;
                            z-index: -1;
                            background: -webkit-linear-gradient(right, 
                                var(--color-gray-light), var(--color-light), 
                                var(--color-gray-light), var(--color-light));
                            transition: all 0.4s;
                        }
                
                        form .btn:hover .inner {
                            left: 0;
                        }
                    
                        form .btn  button{
                            height: 100%;
                            width: 100%;
                            background: none;
                            border: none;
                            color: #ffffff;
                            font-size: 18px;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            cursor: pointer;
                        }
                
                        /* CARDS*/
                        main section.middle .header {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                        }
                
                        main section.middle .cards {
                            margin-top: 1rem;
                            display: grid;
                            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                            gap: 1.5rem;
                        }
                
                        main section.middle .cards .card {
                            background: linear-gradient(--color-white, --color-gray-light);
                            padding: var(--card-padding);
                            border-radius: var(--card-border-radius);
                            color: var(--color-dark);
                            height: 17rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            transition: all 300ms ease;
                        }
                
                        main section.middle .cards .card:hover {
                            box-shadow: none;
                            
                        }
                
                        main section.middle .cards .card:nth-child(1) {
                            justify-content: center;
                            box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.1);
                            align-items: center;
                            text-align: center;
                        }
                
                        main section.middle .cards .card:nth-child(2) {
                            background: linear-gradient(--color-white, --color-gray-light);
                            box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.1);
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                
                        main section.middle .cards .card:nth-child(3) {
                            background: linear-gradient(--color-white, --color-gray-light);
                            box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.1);
                        }
                
                        main section.middle .cards .card:hover {
                            box-shadow: none;
                        }
                
                        main section.middle .card .top{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                
                        main section.middle .card .top .left {
                            display: flex;
                            gap: 0.5rem;
                        }
                
                        main section.middle .card.top.left h2{
                            font-weight: 200;
                            font-size: 1.4rem;
                        }
                
                        main section.middle .card .top .left img {
                            width: 6.5rem;
                            padding: 0.4rem;
                        }
                
                        main section.middle .card .top .right img{
                            width: 3.5rem;
                        }
                
                                                        /*========== DAILY INTAKE ===========*/
                        main .daily-intake {
                            display: grid; 
                            grid-template-columns: repeat(4, 1fr);
                            justify-content: center; /* Change to center */
                            align-items: center; /* Add this line */
                            margin-top: 2.5rem;
                            text-align: center;
                            border-radius: 10px;
                        }
                
                        main .daily-intake .goal {
                            padding: 0.6rem var(--card-padding);
                            justify-content: center;
                            text-align: center;
                            display: flex; /* Add this line */
                            flex-direction: column; /* Add this line */
                        }
                
                        main .daily-intake .goal:nth-child(1) {
                            background: var(--color-danger-light);
                        }
                
                        main .daily-intake .goal:nth-child(2) {
                            background: var(--color-success-light);
                        }
                
                        main .daily-intake .goal:nth-child(3) {
                            background: var(--color-purple-light);
                        }
                
                        main .daily-intake .goal:nth-child(4) {
                            background: var(--color-primary-light);
                        }
                
                
                                                /*========== YOUR GOALS ==========*/
                        main .your-goals {
                            margin-top: 1.5rem;
                            display: flex;
                            align-self: center;
                            gap: 2rem;
                        }
                
                        main .your-goals .badge span {
                            width: 7px;
                            height: 7px;
                            border-radius: 50%;
                        }
                
                        main .your-goals .badge .goal {
                            color: var(--color-light);
                            display: flex;
                            gap: 1.15rem;
                            align-self: center;
                        }
                
                        main .your-goals .badge {
                            padding: 0.6rem var(--card-padding);
                            border-radius: var(--border-radius-2);
                            display: flex;
                            align-self: center;
                            background: var(--color-dark);
                            box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.1);
                        }

                        main .your-goals .goals-card{
                            width: 18rem;
                        }

                        main .your-goals .goals-card:nth-child(1){
                            justify-content: center;
                            text-align: center;
                        }
                
                        main .your-goals .badge span {
                            display: flex;
                            align-self: center;
                            justify-content: center;
                            height: fit-content;
                        }
                
                                            /*===== ANALYTICS CHART =====*/
                        canvas#chart {
                            background: var(--color-white);
                            max-width: 100%;
                            margin-bottom: 1rem;
                            border-radius: var(--card-border-radius);
                            padding: var(--card-padding);
                            margin-top: 2rem;
                            margin-right: 2rem;
                        }
                
                                        /*========== RECENT ACTIVITIES ==========*/
                        main section.right .recent-activities {
                            background: var(--color-white);
                            border-radius: var(--card-border-radius);
                            box-shadow: 0 0.5rem 1.5rem rgba( 0, 0, 0, 0.1);
                            margin-right: 2rem;
                            overflow: auto;
                            height: 19rem;
                        }

                        main section.right .recent-activities img {
                            width: 3.5rem;
                        }

                        main section.right .recent-activities .recent-header {
                            display: flex;
                            justify-content: space-between;
                            border-radius: var(--card-border-radius);
                            align-items: center;
                            padding: var(--card-padding);
                            padding-bottom: 0;
                            text-align: center;
                            position: absolute;
                            background: white;
                            width: 44%;
                        }

                        main section.right .recent-activity-top-divider{
                            width: auto;
                            height: 5.5rem;
                        }
                
                        main section.right .recent-activities .recent-header a{
                            display: flex;
                            align-items: center;
                            color: var(--color-primary);
                        }
                
                        main section.right .recent-activities .activity {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: var(--card-padding);
                            border-bottom: 1px solid var(--color-light);
                        }
                
                        main section.right .recent-activities .activity:last-child {
                            border: none;
                        }
                
                        main section.right .recent-activities .activity:hover {
                            background: var(--color-light);
                        }

                        /*========================== RESPONSIVE ===================*/
                        /*          MEDIA QUERIES FOR TABLETS           */
                        @media screen and (max-width: 1024px) {
                            nav .profile-area {
                                gap: 2rem;
                            }

                            main{
                                grid-template-columns: 1fr;
                            }

                            main aside{
                                position: fixed;
                                top: 0;
                                left: 0;
                                z-index: 3;
                                width: 22rem;
                                height: 100vh;
                                display: none;
                            }

                            main aside button#close-btn{
                                display: inline-block;
                                width: 3rem;
                                height: 3rem;
                                position: absolute;
                                top: 1rem;
                                right: 1rem;
                                z-index: 4;
                                background: transparent;
                                color: var(--color-light);
                            }

                            button:hover{
                                cursor: pointer;
                            }

                            main aside .sidebar{
                                margin-top: 4rem;
                            }

                            main section.middle .cards{
                                grid-template-columns: 1fr 1fr;
                            }

                            main canvas{
                                margin: 3rem 0 1rem;
                            }

                            main section.right .recent-activities {
                                margin-top: 3rem;
                            }
                        }


                                /*              PHONES              */
                        @media screen and (max-width: 600px){
                            nav .profile-area{
                                gap: 2.6rem;
                            }

                            nav .profile span{
                                display: none;
                            }
                        }