   /*========== SIDEBAR ASIDE ==========*/
   main aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 4rem;
   }
   /* cuma di mobile*/
   main aside button#close-btn {
    display: none;
   }
   
   .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 2rem;
   }
   
   main aside .sidebar a{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4rem;
    color: var(--color-gray-dark);
    position: relative;
   }
   
   main aside .sidebar a span {
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    transition: all 150ms ease;
    display: flex;
    justify-content: center;
   }
   
   main aside .sidebar a.active{
    background: var(--color-gray-light);
    color: var(--color-white);
    border-radius: 10px;
   }
   
   main aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
   }
   
   main aside .sidebar a:hover {
    color: var(--color-primary);
    background: var(--color-gray-light);
    transition: all 250ms ease;
    border-radius: 10px;
   }
   
   main aside .updates a{
    display: block;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    padding: 0.8rem 0;
    margin-top: 2rem;
   }